html {
    margin: 0;
    padding: 0;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1d1d1d;
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center center; 
   
    
}

.container_navi {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;

}

@import url('https://fonts.cdnfonts.com/css/sansation-light');


.header {
    text-align: center;
    color: white;
    z-index: 2;
    position: fixed;
    display: flex;
    width: 100%;
}

.navibar {

    display: flex;
    justify-content:space-between;
    width: 40%;
    font-family: "Quicksand", sans-serif;
}

.navibar a {

    position: relative;
    text-decoration: none;
    color: inherit;
    font-family: "Quicksand", sans-serif;

}

.container_navi {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;
    /* margin:0; */
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  color: white;
}

h1 a{
  color: inherit;
  text-decoration: none;
}



.navibar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;

}

.navibar a:hover::after {
    width: 100%;

}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.header-image{
    width: 40%;
    border-radius: 10px;
}

.start-test{

    background: rgb(121, 121, 121);
    color: white;
    font-size: 32px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.start-test:hover{
    background-color: rgb(189, 189, 189);
}

.container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10px 10px 20px;
    
    
}

.question-container{
    margin: 30px;
    width: 50%;
    border: solid 2px white;
    border-radius: 2px;
    padding: 30px;
    color: #ececec;
}

#question-count{
    font-weight: bold;
}

#question{
    margin-top: 20px;
    font-size: 24px;
}

.ans{
    margin-top: 20px;
    background-color: rgb(121, 121, 121);
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

.my-alpha{
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;
    margin-right: 10px;
    color: black;
}

.your-answers{
    margin: 40px;
    width: 50%;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#previous, #next{
    background-color: rgb(220, 220, 220);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#restart{
    background-color: rgb(121, 121, 121);
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.title{
    font-size: 24px;
    margin-bottom: 40px;
    background-color: rgb(179, 178, 178);
    padding: 10px;
    border-radius: 10px;
}

#test-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    color:#1d1d1d;
}

#image{
    width: 100%;
    border-radius: 20px;
}

#trait{
    margin-top: 40px;
}

#trait-title{
    font-size: 30px;
}

#trait div{
    margin-top: 20px;
}

#trait ul{
    margin-top: 20px
}

#trait ul li{
    margin-top: 10px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 868px) {
    .container{
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
    .question-container{
        margin: 20px;
        width: 80%
    }
    .welcome {
        margin-top: 10px;
    }
    .header-image{
        width: 80%;
    }

    .your-answers{
        width: 80%;
    }
}
